# fly.toml file generated for art-expert-igor2 on 2023-04-15T10:57:22+03:00

app = "art-expert-igor2"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "lax"

[metrics]
  port = 8080
  path = "/metrics"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20    
    
